@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: "Poppins";
    overflow: hidden;
    user-select: none;
}

.admin-dashboard{
    display: flex;
}
.admin-dash-side-menu{
    height: 100vh;
    width: 15vw;
    background-color: #071539;
}

.admin-dash-render-data{
    height: 100vh;
    width: 85vw;
    background-color: #eff5fe;
}

.logo-div{
    display: flex;
    margin-left: 1.4rem;
    margin-top: .8rem;
}

.logo-img{
    height: 40px;
}

.logo-heading{
    color: #fff;
    margin-left: .4rem;
}

.link-flex{
    display: flex;
    margin-top: 1.5rem;
    cursor: pointer;
}

.link-logo i{
    color: white;
    margin-left: 1.7rem;
}

.link-text p{
    color: white;
    margin-left: 1rem;
}

.navbar{
    height: 9vh;
    background-color: #fff;
}

.nav-maindiv{
    display: flex;
    justify-content: space-between;
}

.left-div{
    margin-left: 1.8rem;
    margin-top: 1.3rem;
}

.left-div{
    font-size: 20px;
    color: gray;
}

.right-div{
    margin-right: 1.8rem;
    margin-top: 1.3rem;
    position: relative;
}

.right-div i{
    margin-right: .4rem;
}

.notify-sup{
    position: absolute;
    top: -4%;
    left: 8%;
    background-color: #4bb0dd;
    padding: .1rem .3rem;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    font-size: 8px;
}


.email-sup{
    position: absolute;
    top: -4%;
    left: 35%;
    background-color: #d25c7b;
    padding: .1rem .3rem;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    font-size: 8px;
}

.render-ghraph-data{
    height: 46vh;
}
.render-ghraph-data{
    display: flex;
    justify-content: center;
    align-items: center;
}
.firstBox-div{
  height: 54vh;
  width: 55vw;
  background-color: #fff;
  margin-top: 6rem;
  border-radius: 2px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.secondBox-div{
    height:54vh;
    width: 25vw;
    background-color: #fff;
    margin-left: 1rem;
    margin-top: 6rem;
    border-radius: 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.secondBox-div p{
    margin-left: 1rem;
    font-size: 14px;
    margin-top: .5rem;
    font-weight: bold;
    color: #06163a;
}
.circle-div{
    display: flex;
    justify-content: center;
}
.circle-div img{
    height: 280px;
}
.three-number{
    display: flex;
    justify-content: center;
    margin-top: -1rem;
}
.firstnum span{
    font-size: 12px;
    margin-left: .2rem;
    color: #acaeae;
}
.firstnum h2{
  font-size: 20px;
  font-weight: bold;
  margin-left: 1.5rem;
}

.secondnum span{
    font-size: 12px;
    color: #acaeae;
    margin-left: .2rem;
}
.secondnum h2{
    font-size: 20px;
    font-weight: bold;
    margin-left: 1.5rem;
}

.thirdnum span{
    font-size: 12px;
    margin-left: .2rem;
    color: #acaeae;
}
.thirdnum h2{
    font-size: 20px;
    font-weight: bold;
    margin-left: 2rem;
}
.c{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color:#1a9efe;
    margin-top: .28rem;
    margin-left: 1.5rem;
}
.ffc{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #ff5e13;
    margin-top: .28rem;
    margin-left: 1.5rem;
}
.tc{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #ffc700;
    margin-top: .28rem;
    margin-left: 1.5rem;
}
.div{
    display: flex;
}
.fc{
    display: flex;
}
.thc{
    display: flex;
}
.flex-three-div{
    display: flex;
    justify-content: space-between;
}
.first-header-div{
    margin-left: .6rem;
    margin-top: .2rem;
}
.dash-h{
    font-size: 14px;
}
.overview-latest{
    font-size: 12px;
    color: #919399;
}
.seond-header-div {
    margin-top: .2rem;
}
.seond-header-div a{
   text-decoration: none;
   font-size: 14px;
   margin-left: 1.2rem;
}
.daily{
    color: black;
    font-weight: bold;
    padding-bottom: .5rem;
    border-bottom: 3px solid #fe5e15;
}
.all-c{
    color: #919399;
}
.third-header-div{
    display: flex;
    margin-top: .2rem;
    margin: .4rem;
}
.first-store{
    display: flex;
}
.first-online{
    display: flex;
}
.color-c-1{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color:#1a9efe;
    margin-top: .35rem;
    margin-left: 1.5rem;
}
.color-c-2{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color:#fe5e15;
    margin-top: .35rem;
    margin-left: 1.5rem;
}
.first-online p{
    font-size: 14px;
    margin-left: .2rem;
    color: #919399;
}
.first-store p{
    font-size: 14px;
    margin-left: .2rem;
    color: #919399;
}
.render-graphDIV{
    display: flex;
    margin-top: 1rem;
    padding-bottom: .5rem;
    border-bottom: .1px solid rgb(200, 192, 192);
}
.secondGRAPH_div{
    width: 100%;
    position: relative;

}
.tt-earnings{
    margin-left: .6rem;
    margin-top: 1rem;
    width: 150px;
}
.tt-earnings p{
    font-size: 10px;
    color: #919399;
}
.secondGRAPH_div table{
    margin-left: .5rem;
}
.current-month-sales{
    margin-left: .6rem;
    margin-top: 1.2rem;
}
.current-month-sales p{
    font-size: 10px;
    color: #919399; 
}
.btnDiv{
    margin-top: 1.2rem;
    margin-left: .6rem;
}
.btnDiv button{
    padding: .8rem;
    border: none;
    outline: none;
    background-color: #fe5e15;
    color: #fff;
    border-radius: 2px;
    font-size: 12px;
}
table{
    margin-top: .5rem;
}
.tableColor{
    border: 1px solid rgb(229, 221, 221);
}
.image-graph-div{
    position: absolute;
    top: 23%;
    left: 1%;
}
.image-graph-div img{
    height: 136.5px;
    width: 95%;
}
.countingDiv{
    margin-left: 8rem;
    margin-top: .2rem;
}
.countingDiv p{
    font-size: 12px;
    color: #919399;
    margin-bottom: .45rem;
}
.lastCOuntingDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.lastCOuntingDiv p{
    font-size: 14px;
    color: #919399;
}
.firstCount-q{
    margin-left: .5rem;
}
.lastElement{
    margin-right: .9rem;
}
.iconsand-info-div{
    display: flex;
    justify-content: space-between;
}
.FirsticonsCricle{
    height: 50px;
    width: 50px;
    background-color: #f33923;
    border-radius: 50%;
    margin-top: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SecondiconsCricle{
    height: 50px;
    width: 50px;
    background-color: #6075db;
    border-radius: 50%;
    margin-top: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ThirdIconsCricle{
    height: 50px;
    width: 50px;
    background-color: #48a13a;
    border-radius: 50%;
    margin-top: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ForthiconsCricle{
    height: 50px;
    width: 50px;
    background-color: #fd7397;
    border-radius: 50%;
    margin-top: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ForthiconsCricle i , .ThirdIconsCricle i , .SecondiconsCricle i , .FirsticonsCricle i {
    color: #fff;
}
.first-icon-div{
    display: flex;
    margin-left: .8rem;
}
.second-icon-div{
    display: flex;
}
.Third-cion_div{
    display: flex;
}
.fourth-icon-div{
    display: flex;
    margin-right: .8rem;
}
.eastimate{
  font-size: 14px;
  color: #919399;
}
.refrel{
    font-size: 14px;
  color: #919399;
}
.walt{
    font-size: 14px;
  color: #919399;
}
.earn{
    font-size: 14px;
  color: #919399;
}
.boldearn{
    font-weight: bold;
}
.firstTextInfoDiv{
    margin-left: .5rem;
    margin-top: 1rem;
}
.secondTextInfoDiv{
    margin-left: .5rem;
    margin-top: 1rem;
}
.thirdTextInfoDiv{
    margin-left: .5rem;
    margin-top: 1rem;
}
.fourthTextInfoDiv{
    margin-left: .5rem;
    margin-top: 1rem;
}
.main-cards_DIV{
    display: flex;
    justify-content: center;
}
.multpleCards_div{
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    width: 95%;
    
}
.cardOne{
    width: 260px;
    height: 140px;
    background-color: #b3c5e2;
    position: relative;
}
.first-cardInfoBox_DV{
    position: absolute;
    top: 40%;
    right: 5%;  
}
.first-cardInfoBox_DV h2{
    color: #59a8de;
}
.first-cardInfoBox_DV span{
    font-size: 13px;
}
.cardTwo{
    width: 260px;
    height: 140px;
    background-color: #f5e7bd;
    position: relative;
}
.second-cardInfoBox_DV h2{
    position: absolute;
    top: 26%;
    left: 10%;
    color: #edc73d;
}
.cardTwo img{
    position: absolute;
    height: 61px;
    bottom: 0px;
}
.cardThree{
    width: 260px;
    height: 140px;
    background-color: #f3d5c9;
    position: relative;
}
.third-cardInfoBox_DV h2{
    position: absolute;
    top: 26%;
    left: 10%;
    color: #e16930;
}

.cardThree img{
    position: absolute;
    top: 50%;
    right: 2%;
}
.cardFour{
    width: 260px;
    height: 140px;
    background-color: #ddc2ec;
    position: relative;
}
.fourth-cardInfoBox_DV{
    position: absolute;
    top: 40%;
    right: 5%;
}
.fourth-cardInfoBox_DV h2{
    color: #7e2cc5;
}
.fourth-cardInfoBox_DV span{
    font-size: 13px;
}
.cardOne p , .cardTwo p , .cardThree p , .cardFour p{
    font-size: 13px;
    font-weight: bold;
    margin-left: 1.6rem;
    margin-top: 1rem;
}
